.registerContainer{
    width: 300px;
    height: 250px;
    padding: 10px;
    background-color: white;
    position: absolute;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo{
    color: slateblue;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.reg{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: slateblue;
    cursor: pointer;
}
.success{
    color: green;
    font-style: 12px;
    text-align: center;
}
.fail{
    color: red;
    font-style: 12px;
    text-align: center;
}
.regCancel{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}