.card{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
label{
    width: max-content;
    color: tomato;
    font-size: 13px;
    border-bottom: 1px solid tomato;
    margin: 3px 0;
}
.desc{
   font-style: 14px; 
}
.star{
    color: gold;
}
.username{
    font-style: 14px;
}
.date{
    font-style: 12px;
}
form{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input, textarea{
    border: none;
    border-bottom: 1px solid orangered;
}
input::placeholder, textarea::placeholder{
    font-style: 12px;
    color: rgb(165, 161, 161);
}
.submitBtn{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: tomato;
    cursor: pointer;
}